/* Alternate the background color of the output rows */
.list-group-item:nth-child(even) {
    background-color: #eee;
}
.voice-img{
    width: 70px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    cursor: pointer;
}